<!DOCTYPE html>
<html xmlns:th="http://thymeleat.org">
<head>
	<meta charset="UTF-8">
	<title>Gerenciamento de clientes</title>
	
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<a th:href="@{/register}" class="btn btn-primary btn-sm mb-3">Registrar Cliente</a>
		<h1>Clientes</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Data de Nascimento</th>
					<th>CPF</th>
					<th>E-mail</th>
					<th>Telefone</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client : ${clientsList}">
					<td th:text="${client.name}"></td>
					<td th:text="${client.birthDate}"></td>
					<td th:text="${client.cpf}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.phone}"></td>
					<td>
						<a th:href="@{/client/{id}/update(id=${client.id})}" class="btn btn-primary">Alterar</a>
						<a id="delete" th:href="@{/client/{id}/delete(id=${client.id})}"></a>
						<button th:onClick="deleteConfirm()" class="btn btn-danger">Deletar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		function deleteConfirm(){
			if (confirm("Tem certeza que deseja excluir permanentemente este cliente?")) {
				window.location.href=document.getElementById('delete').href;
			}
		}
	</script>
</body>
</html>