<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Atualizar cadastro</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
	
		<hr>
		<h2>Atualizar cadastro</h2>
		<form action="#" th:action="@{/register}" th:object="${client}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
			<input type="text" th:field="*{name}" placeholder="Nome" class="form-control mb-4 col-4">
			<input type="date" th:field="*{birthDate}" placeholder="Data de Nascimento" class="form-control mb-4 col-4">
			<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
			<input type="text" th:field="*{cpf}" placeholder="CPF" class="form-control mb-4 col-4">
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
			<input type="text" th:field="*{email}" placeholder="E-mail" class="form-control mb-4 col-4">
			<input type="text" th:field="*{phone}" placeholder="Telefone" class="form-control mb-4 col-4">
			
			<button type="submit" class="btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/}">Retornar para lista</a>
	</div>
</body>
</html>